body {
  background: #21232d;
}

.reveal, .reveal h2, .reveal h3 {
  color: #d8d8d6 !important;
  font-family: "inconsolata", "Source Sans Pro", Helvetica, sans-serif !important;
}

.reveal a {
  color: #57c7ff !important;
}

.reveal p {
  font-size: 2.5em;
}

.reveal ul {
  font-size: 2em;
}

.reveal ol {
  font-size: 2em;
}
